*.gz
*.aux
*.log
.idea/*
python-bitcoin-blockchain-parser/blockchain_parser.egg-info/
python-bitcoin-blockchain-parser/blockchain_parser/__pycache__/
python-bitcoin-blockchain-parser/build/
python-bitcoin-blockchain-parser/dist/
