.env
*.gz
*.aux
*.log
*.toc
*.dvi
*.sqlite3
*#
*~
.idea/*
*swp
mongo_credentials.py
python-bitcoin-blockchain-parser/blockchain_parser.egg-info/
python-bitcoin-blockchain-parser/blockchain_parser/__pycache__/
python-bitcoin-blockchain-parser/build/
python-bitcoin-blockchain-parser/dist/
__pycache*
test-data
data
dru.conf
