<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>btc analitics</title>
     <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
<div class="section">
    <div class="section-inner">
        <h1>BTC Analitics</h1>
        <p>service to explore blockchain</p>
    </div>
</div>
<div class="section">
    <div class="section-inner">
        <h2>System status</h2>
        <p>something</p>
        <p>something</p>
        <p>something</p>
        <p>something</p>
    </div>
</div>
<div class="section">
    <div class="section-inner">
        <h2>API reference</h2>
        <p>something</p>
        <p>something</p>
        <p>something</p>
        <p>something</p>
    </div>
</div>
</body>
</html>