{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DRU</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/base2.css' %}">
    <script src="{% static 'main/js/email-form.js' %}"></script>
</head>
<body style="background-color: #aaaabb">
<div style="padding: 5%" class="markdown-body">
    <h1 style="font-size:400%">
        <span style="color: rgba(1, 1, 1, 0.9)">D</span>
        <span style="color: rgba(1, 1, 1, 0.6)">R</span>
        <span style="color: rgba(1, 1, 1, 0.3)">U</span>
        <br> <p style="font-size:50%; color: rgba(1, 1, 1, 0.6)">transaction network analysis</p></h1>
    <hr><hr>
    <div>
        <label for="email-input">email: </label>
        <input id="email-input" type="email" name="email">
        <button id="email-button">register</button>
    </div>
    <article>
        {% block content %}
        {% endblock %}
    </article>
</div>
</body>
</html>