{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>btc analitics</title>
     <link rel="stylesheet" type="text/css" href="{% static "main/css/index.css" %}">
</head>
<body>
<div class="section">
    <div class="section-inner">
        <h1>BTC Analitics</h1>
        <p>On this page you can find descriptions of implemented API's.
            If you implement new API be sure to write about it here</p>
    </div>
</div>
<div class="section">
    <div class="section-inner">
        <h2>Last Block</h2>
        <p>returns last block in database,
            useful during installation to see progress </p>
        <p>URL: /api/last_block</p>
    </div>
</div>
<div class="section">
    <div class="section-inner">
        <h2>Count Elements Of Unconnected Graphs</h2>
        <p>this resourse let's you to count number of elements in separate
        graphs of transactions for blocks specified by block height range</p>
        <p>URL: /api/count_separate_graphs?height_from=1&height_to=100</p>
    </div>
</div>
<div class="section">
    <div class="section-inner">
        <h2>Here describe your new API</h2>
        <p>description</p>
        <p>URL: ...</p>
        <p>please don't remove this section, leave it for others</p>
    </div>
</div>
</body>
</html>