
        {% extends "main/base.html" %}
        {% block content %}
    <h1>Using email notifications</h1>

<ul>
<li>type and send your email address in box above</li>
<li>click verification link you'll get in email</li>
<li>now you can POST your email to the result links in form of <code>{"email": "joe.doe@mail.com"}</code> so that you'll 
be notified when the task has finished </li>
</ul>

<h1>Available APIs</h1>

<ul>
<li><p>Current height of collected blockchain</p>

<ul>
<li><code>/api/current_block_height</code></li>
</ul></li>
<li><p>Blocks</p>

<ul>
<li><code>/api/get_blocks/&lt;start_height&gt;/&lt;end_height&gt;</code></li>
</ul></li>
<li><p>Blocks with reduced amount of info</p>

<ul>
<li><code>/api/get_blocks_reduced/&lt;start_height&gt;/&lt;end_height&gt;</code></li>
</ul></li>
<li><p>Edges of transaction graph</p>

<ul>
<li><code>/api/get_edges/&lt;start_height&gt;/&lt;end_height&gt;</code></li>
</ul></li>
<li><p>Degree of transaction graph</p>

<ul>
<li><code>/api/get_degree/&lt;start_height&gt;/&lt;end_height&gt;/&lt;mode: all|in|out&gt;</code></li>
</ul></li>
<li><p>Degree of transaction graph by block</p>

<ul>
<li><code>/api/get_degree_by_block/&lt;start_height&gt;/end_height&gt;/&lt;address&gt;/&lt;mode: all|in|out&gt;</code></li>
</ul></li>
<li><p>Max degree</p>

<ul>
<li><code>/api/get_degree_max/&lt;start_height&gt;/&lt;end_height&gt;/&lt;all|in|out&gt;</code></li>
</ul></li>
<li><p>Betweenness</p>

<ul>
<li><code>/api/get_betweenness/&lt;start_height&gt;/&lt;end_height&gt;/&lt;directed: true|false&gt;</code></li>
</ul></li>
<li><p>Max betweenness</p>

<ul>
<li><code>/api/get_betweenness_max/&lt;start_height&gt;/&lt;end_height&gt;/&lt;directed: true|false&gt;</code></li>
</ul></li>
<li><p>Closeness</p>

<ul>
<li><code>/api/get_closeness/&lt;start_height&gt;/&lt;end_height&gt;/&lt;directed: true|false&gt;</code></li>
</ul></li>
<li><p>Max closeness</p>

<ul>
<li><code>/api/get_closeness_max/&lt;start_height&gt;/&lt;end_height&gt;/&lt;directed: true|false&gt;</code></li>
</ul></li>
<li><p>Transitivity</p>

<ul>
<li><code>/api/get_transitivity/&lt;start_height&gt;/&lt;end_height&gt;</code></li>
</ul></li>
<li><p>Global transitivity</p>

<ul>
<li><code>/api/get_transitivity_global/&lt;start_height&gt;/&lt;end_height&gt;</code></li>
</ul></li>
<li><p>Diameter</p>

<ul>
<li><code>/api/get_diameter/&lt;start_height&gt;/&lt;end_height&gt;/&lt;directed: true|false&gt;</code></li>
</ul></li>
<li><p>Density</p>

<ul>
<li><code>/api/get_density/&lt;start_height&gt;/&lt;end_height&gt;/&lt;directed: true|false&gt;/&lt;loops: true|false&gt;</code></li>
</ul></li>
<li><p>Are connected</p>

<ul>
<li><code>/api/get_density/&lt;start_height&gt;/&lt;end_height&gt;/&lt;address-1&gt;/&lt;address-2&gt;/&lt;directed: true|false&gt;</code></li>
</ul></li>
<li><p>Transactions value</p>

<ul>
<li><code>/api/get_density/&lt;start_height&gt;/&lt;end_height&gt;/&lt;address-1&gt;/&lt;address-2&gt;/&lt;directed: true|false&gt;</code></li>
</ul></li>
</ul>
{% endblock %}